main{
    width: 100%;
    margin: 0%;
    padding: 0%;
   padding-top: 150px !important;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
    max-width:1400px;
    min-height: 100vh;
    gap: .5em;
    padding-bottom: 20px;
    margin: auto;
    border: 1px solid red;
   
}